$input-quotes-sprite-dimensions: true;
$slider-sprite-dimensions: true;
$small: 768px;
$medium: 992px;
$large: 1200px;
$font-14: calc(1rem + 0.6vmin);
$font-16: calc(1rem + 0.8vmin);
$font-20: calc(1rem + 1vmin);
$font-25: calc(1rem + 2vmin);
$font-30: calc(1rem + 2.5vmin);
$font-60: calc(2rem + 2.5vmin);
$bg-yellow: #ffbb42;
$btn-menu: #868686;
$btn-menu-hover: #ffbb42;
$color-btn-menu-hover: #fff;
$color-servise-item: #7b7b7b;
$bg-welcome-section: #709dca;
$color-icon-hover: #ffa07a;
$welcome-section-color: #fff;
$border-color: #e7ad48;
$bg-price-section: #e7edf3;
$bg-price-card: #fff;
$color-price-card: #818b95;
$bg-price-card-main: #709dca;
$color-price-card-main: #fff;
$color-price: #ffbb42;
$color-price-main: #fff;
$color-author-comment: #f6772c;