//= sidebar-left.html
<div class="center-block">
    <div class="new-film ml-3 p-4">
        <h2 class="pb-4">Что идет в кинотеатрах?</h2>
        <a href="#" class="post">
            <img src="/img/content/new-film1.jpg" class="p-3" alt="#">
            <h3>Премьеры России — 17 мая</h3>
            <p>Российский прокат в этот раз пестрит многообразием. Собрались в одну неделю нескромная комедия «Диктатор» с Сашей Бароном Коэном, хлесткий боевик «Напролом», спродюсированный ...</p>
        </a>
        <a href="#" class="post">
            <img src="/img/content/new-film2.jpg" class="p-3" alt="#">
            <h3>Премьеры России — 17 мая</h3>
            <p>Российский прокат в этот раз пестрит многообразием. Собрались в одну неделю нескромная комедия «Диктатор» с Сашей Бароном Коэном, хлесткий боевик «Напролом», спродюсированный ...</p>
        </a>
    </div>
    <div class="viewer-comment ml-3 p-4">
        <h2 class="pb-4">Зрительский взгляд  | <a href="#">«Диктатор»</a></h2>
        <a href="#">CamiRojas:</a><span>«What the fuck did you call me?» Адмирал-генерал Аладин, безусловно, очень влиятельный, амбициозный, жестокий и самовлюблённый лидер североафриканского государства под названием Вадия. Для него не существует никаких правил, кроме тех, что он придумал сам. В его стране царит произвол, жесточайшая диктатура, угнетение и полное уничижение простого народа. Аладин, прям как тот самый мелкий воришка Аладин из диснеевского мультика, — это (...)</span>
    </div>
    <div class="news-serial ml-3 p-4">
        <h2 class="pb-4">Новости сериалов</h2>
        <div class="post">
            <h3>Дэвид Шор о финале House M.D.</h3>
            <img src="/img/content/news-serial1.jpg" class="p-3" alt="#">
            <p>Итак, 21-го мая мы официально распрощались с сериалом House M.D. («Доктор Хаус»). У нас осталось восемь лет воспоминаний и с десяток не отвеченных вопросов. Ресурс TVLine разыскал одного из создателей шоу, Дэвида Шора, чтобы высказать...</p>
            <div class="d-flex justify-content-between">
                <div class="meta-data-post">
                    <p>Дата: 26.05.2012 00:57</p>
                    <p>Комментариев: 261</p>
                </div>
                <button>Подробнее...</button>
            </div>
        </div>
        <div class="post">
            <h3>Дэвид Шор о финале House M.D.</h3>
            <img src="/img/content/news-serial1.jpg" class="p-3" alt="#">
            <p>Итак, 21-го мая мы официально распрощались с сериалом House M.D. («Доктор Хаус»). У нас осталось восемь лет воспоминаний и с десяток не отвеченных вопросов. Ресурс TVLine разыскал одного из создателей шоу, Дэвида Шора, чтобы высказать...</p>
            <div class="d-flex justify-content-between">
                <div class="meta-data-post">
                    <p>Дата: 26.05.2012 00:57</p>
                    <p>Комментариев: 261</p>
                </div>
                <button>Подробнее...</button>
            </div>
        </div>
    </div>
</div>