<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/lib/node_modules/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/style/main.css">
</head>
<body>
    <header class="header-page">
        <div class="container d-flex justify-content-between">
            <div class="logo-box d-flex align-content-center">
                <a href="#">
                    <img src="/img/header/logo.png" alt="kinobase">
                    <h1 class="sr-only">kinobase</h1>
                </a>
                <h2 class="tagline">Открой мир кино с нами</h2>
            </div>
            <ul class="main-menu d-flex align-items-center">
                <li><a href="#">кино</a></li>
                <li><a href="#">сериалы</a></li>
                <li><a href="#">афиша</a></li>
                <li><a href="#">тексты</a></li>
                <li><a href="#">рейтинги</a></li>
                <li><a href="#">программы и шоу</a></li>
            </ul>
        </div>
    </header>
    <div class="after-header">
        <div class="container d-flex justify-content-between">
            <div class="login">
                <button>Создать аккаунт</button>
                <button>Войти</button>
            </div>
            <form action="get" class="form-search d-flex align-content-center ">
                <button type="submit" class="search">Поиск</button>
                <input type="text" placeholder="Что будем искать)" class="align-self-start">
                <div class="absolute">
                    <a href="#" class="">расширенный поиск</a>
                    <a href="#"  class="">что ищут?</a>
                </div>
            </form>
        </div>
    </div>
