<div class="container d-flex pt-5">
    <div class="popular-cinema d-flex justify-content-between">
        <div class="post-popular">
            <h3>Новый человек-паук (2012)</h3>
            <figure>
                <img src="/img/content/spider-men.jpg" alt="spider-men">
                <figcaption>
                    <div class="rating">
                        <input type="hidden" name="val" value="4">
                        <input type="hidden" name="votes" value="5">
                    </div>
                </figcaption>
            </figure>
            <p>Убита мать президента Линкольна, и все указывает на вампиров. После этой трагедии Линкольн объявляет войну до полного уничтожения ...</p>
            <button>Смотреть сейчас</button>
        </div>
        <div class="post-popular">
            <h3>Новый человек-паук (2012)</h3>
            <figure>
                <img src="/img/content/popular-cinema2.jpg" alt="cinema1">
                <figcaption>
                    <div class="rating">
                        <input type="hidden" name="val" value="4">
                        <input type="hidden" name="votes" value="5">
                    </div>
                </figcaption>
            </figure>
            <p>Убита мать президента Линкольна, и все указывает на вампиров. После этой трагедии Линкольн объявляет войну до полного уничтожения ...</p>
            <button>Смотреть сейчас</button>
        </div>
        <div class="post-popular">
            <h3>Новый человек-паук (2012)</h3>
            <figure>
                <img src="/img/content/popular-cinema3.jpg" alt="cinema2">
                <figcaption>
                    <div class="rating">
                        <input type="hidden" name="val" value="4">
                        <input type="hidden" name="votes" value="5">
                    </div>
                </figcaption>
            </figure>
            <p>Убита мать президента Линкольна, и все указывает на вампиров. После этой трагедии Линкольн объявляет войну до полного уничтожения ...</p>
            <button>Смотреть сейчас</button>
        </div>
    </div>
    <div class="widget widget-new d-flex flex-column">
        <header>Обновления <span>на сайте</span></header>
        <div class="post d-flex align-items-start">
            <img src="/img/widget/widget-new1.png" alt="qwer">
            <div class="description">
                <div class="name">
                    <a href="#">G.I. Joe: Бросок кобры 2 (2012)</a>
                    <p>G.I. Joe: Retaliation</p>
                </div>
                <div class="Genre">
                    <span>Жанр:</span>
                    <span>Триллер,</span>
                    <span> Боевик,</span>
                    <span>Фантастика,</span>
                    <span>Приключения</span>
                </div>
            </div>
        </div>
        <div class="post d-flex align-items-start">
            <img src="/img/widget/widget-new2.png" alt="qwer">
            <div class="description">
                <div class="name">
                    <a href="#">Ледниковый период 4: Континентальный дрейф (2012)</a>
                </div>
                <div class="Genre">
                    <span>Жанр:</span>
                    <span>Мультфильм</span>
                </div>
            </div>
        </div>
        <a href="#" class="all-new-posts mt-auto">Смотреть все обновления...</a>
    </div>
</div>