<div class="sidebar-left">
    <div class="widget widget-news mb-3">
        <div class="cinema-news d-flex">
            <div class="premiere">
                <h2>Премьеры</h2>
                <ul>
                    <li><a href="#">Прометей</a></li>
                    <li><a href="#">Боже, благослови Америку</a></li>
                    <li><a href="#">Небесный суд</a></li>
                    <li><a href="#">Кассадага</a></li>
                </ul>
            </div>
            <div class="event pl-5">
                <h2>Кинособытия</h2>
                <ul>
                    <li><a href="#">Прометей</a></li>
                    <li><a href="#">Боже, благослови Америку</a></li>
                    <li><a href="#">Небесный суд</a></li>
                    <li><a href="#">Кассадага</a></li>
                </ul>
            </div>
        </div>
        <div class="rating-news">
            <h2>Рейтинг новостей недели</h2>
            <ul>
                <li>
                    <a href="#" class="d-flex align-items-center">
                        <p class="date mr-5">24.05.2012</p>
                        <p class="mr-5">1.</p>
                        <p>Гари Олдман создаст Робокопа </p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex align-items-center">
                        <p class="date mr-5">24.05.2012</p>
                        <p class="mr-5">2.</p>
                        <p>«Бросок кобры 2» выйдет девятью месяцами позже и станет трехмерным</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex align-items-center">
                        <p class="date mr-5">24.05.2012</p>
                        <p class="mr-5">3.</p>
                        <p>Джон Фавро окажется в «Железном человеке 3» </p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex align-items-center">
                        <p class="date mr-5">24.05.2012</p>
                        <p class="mr-5">4.</p>
                        <p>Мадс Миккельсен позлодействует в сиквеле «Тора» </p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex align-items-center">
                        <p class="date mr-5">24.05.2012</p>
                        <p class="mr-5">5.</p>
                        <p>Канн-2012: Роберт Паттинсон хотел всего лишь подстричься </p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="subscribe">
            <h2>Подпишись на наши групы</h2>
            <ul>
                <li><a href="#" class="social1"></a></li>
                <li><a href="#" class="social2"></a></li>
                <li><a href="#" class="social3"></a></li>
                <li><a href="#" class="social4"></a></li>
                <li><a href="#" class="social5"></a></li>
                <li><a href="#" class="social6"></a></li>
                <li><a href="#" class="social7"></a></li>
                <li><a href="#" class="social8"></a></li>
                <li><a href="#" class="social9"></a></li>
                <li><a href="#" class="social10"></a></li>
            </ul>
        </div>
    </div>
    <div class="widget widget-single-post mb-3">
        <header>«Обитель зла 5: Возмездие»: <a href="#">русский тизер</a></header>
        <img src="/img/content/single-post1.jpg" alt="single-post1">
        <p>Действие пятой части начинается с концовки четвертой части, когда Джилл оказывается на корабле "Аркадия". Теперь она отдает приказ штурмовать ...</p>
        <div class="meta-data-post d-flex justify-content-between">
            <span>21.05.2012 15:19</span>
            <span>(просчит:361раз, комментирован: 79 раз)</span>
        </div>
    </div>
    <div class="widget widget-single-post mb-3">
        <header>«Обитель зла 5: Возмездие»: <a href="#">русский тизер</a></header>
        <img src="/img/content/single-post2.jpg" alt="single-post1">
        <p>Действие пятой части начинается с концовки четвертой части, когда Джилл оказывается на корабле "Аркадия". Теперь она отдает приказ штурмовать ...</p>
        <div class="meta-data-post d-flex justify-content-between">
            <span>21.05.2012 15:19</span>
            <span>(просчит:361раз, комментирован: 79 раз)</span>
        </div>
    </div>
</div>