<aside class="sidebar-right">
    <div class="widget widget-price">
        <header>Кинокасса России • <span>руб.</span></header>
        <ul class="list">
            <li class="d-flex justify-content-start align-items-start">
                <span>1.</span>
                <div class="name ml-3">
                    <p>Люди в черном 3</p>
                    <p> Men in Black III</p>
                </div>
                <p class="ml-auto align-self-center">533 050 190</p>
            </li>
            <li class="d-flex justify-content-start align-items-start">
                <span>2.</span>
                <div class="name ml-3">
                    <p>Люди в черном 3</p>
                    <p> Men in Black III</p>
                </div>
                <p class="ml-auto align-self-center">533 050 190</p>
            </li>
            <li class="d-flex justify-content-start align-items-start">
                <span>3.</span>
                <div class="name ml-3">
                    <p>Люди в черном 3</p>
                    <p> Men in Black III</p>
                </div>
                <p class="ml-auto align-self-center">533 050 190</p>
            </li>
            <li class="d-flex justify-content-start align-items-start">
                <span>4.</span>
                <div class="name ml-3">
                    <p>Диктатор</p>
                    <p> Men in Black III</p>
                </div>
                <p class="ml-auto align-self-center">533 050 190</p>
            </li>
            <li class="d-flex justify-content-start align-items-start">
                <span>5.</span>
                <div class="name ml-3">
                    <p>Мстители</p>
                    <p> Men in Black III</p>
                </div>
                <p class="ml-auto align-self-center">533 190</p>
            </li>
        </ul>
    </div>
    <div class="widget widget-last-comment">
        <header>Последние комментарии</header>
        <ul class="list">
            <li class="d-flex flex-column align-items-start">
                <span>Рыцарь дня</span>
                <div class="comment">
                    <p>Давно пройшли часи лицарства і героїзму, коли лише за посмішку благородної дами творилися подвиги. Крістофер Нолан вдихнув нове життя в філософію рицарства.</p>
                </div>
            </li>
            <li class="d-flex flex-column align-items-start">
                <span>Рыцарь дня</span>
                <div class="comment">
                    <p>Давно пройшли часи лицарства і героїзму, коли лише за посмішку благородної дами творилися подвиги. Крістофер Нолан вдихнув нове життя в філософію рицарства.</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="widget widget-cinema">
        <header>Запросы - фильмы <a href="#">всего</a></header>
        <ul class="list">
            <li class="d-flex align-items-end">
                <div class="name">
                    <p>Прометей</p>
                    <p>Prometheus</p>
                </div>
                <div class="date ml-auto">
                    <p>31.05</p>
                </div>
            </li>
            <li class="d-flex align-items-end">
                <div class="name">
                    <p>Прометей</p>
                    <p>Prometheus</p>
                </div>
                <div class="date ml-auto">
                    <p>31.05</p>
                </div>
            </li>
            <li class="d-flex align-items-end">
                <div class="name">
                    <p>Прометей</p>
                    <p>Prometheus</p>
                </div>
                <div class="date ml-auto">
                    <p>31.05</p>
                </div>
            </li>
            <li class="d-flex align-items-end">
                <div class="name">
                    <p>Прометей</p>
                    <p>Prometheus</p>
                </div>
                <div class="date ml-auto">
                    <p>31.05</p>
                </div>
            </li>
            <li class="d-flex align-items-end">
                <div class="name">
                    <p>Прометей</p>
                    <p>Prometheus</p>
                </div>
                <div class="date ml-auto">
                    <p>31.05</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="widget widget-cinema-random">
        <h3>Случайный фильм</h3>
        <a href="#">
            <figure>
                <img src="/img/widget/widget-random.png" alt="name-film">
                <figcaption>Морской бой</figcaption>
            </figure>
        </a>
        <button>Другой случайный фильм</button>
    </div>

</aside>